<div class="header-container">
    <div class="container-fluid">
        <div class="container">
            <div class="row align-items-center pt-3 pb-3 justify-content-center">
                <div class="col-3">
                    <a href="{{ path('index') }}">
                    <img src="../assets/img/logo.png" class="logo" alt="logo">
                    </a>
                </div>
                <div class="col-5 app-title-container">
                    <a href="{{ path('index') }}">
                    <h1 class="header-title">L'ArBorie</h1>
                    </a>
                </div>
                <div class="col-3"></div>
            </div>
        </div>
    </div>
</div>
