<div class="position-fixed fixed-bottom">
    <div class="line mb-3"></div>
    <div class="container-fluid">
        <div class="row justify-content-between">
            <div class="container col-3 col-lg-1 text-center">
                <a href="{{ path('trails_index') }}"><img class="img-menu" src="../assets/img/carte.png" alt=""></a>
            </div>
            <div class="container col-3 col-lg-1 text-center">
                <a href="{{ path('trees_index') }}"><img class="img-menu" src="../assets/img/arbre.png" alt=""></a>
            </div>
            <div class="container col-3 col-lg-1 text-center">
                <a href="#"><img class="img-menu" src="../assets/img/camera.png" alt=""></a>
            </div>
            <div class="container col-3 col-lg-1 text-center">
                <a href="{{ path('contact') }}"><img class="img-menu" src="../assets/img/mail.png" alt=""></a>
            </div>
        </div>
        <div class="row justify-content-between">
            <div class="container col-3 col-lg-1 text-center">
                <p class="txt-menu">Carte</p>
            </div>
            <div class="container col-3 col-lg-1 text-center">
                <p class="txt-menu">Arbres</p>
            </div>
            <div class="container col-3 col-lg-1 text-center">
                <p class="txt-menu">Scanner</p>
            </div>
            <div class="container col-3 col-lg-1 text-center">
                <p class="txt-menu">Contact</p>
            </div>
        </div>
    </div>
</div>
