{% extends 'base.html.twig' %}

{% block title %}Trees index{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="test">Trees index</h1>
            <div class="container-trees">
                {% for tree in trees %}
                    <div class="box-trees">
                        <h3>{{ tree.name }}</h3>
                        <img src="{{ vich_uploader_asset(tree,'imageFile') }}">
                        <button type="button" class="btn-trees btn btn-dark"><a href="{{ path('trees_show', {'id': tree.id}) }}">show</a></button>
                    </div>
                {% else %}
                    <td colspan="6">no records found</td>
                {% endfor %}
            </div>
    </div>
    <script src="{{ asset('js/menu-tree.js') }}"></script>
{% endblock %}
