{% extends 'base.html.twig' %}

{% block title %}Trails index{% endblock %}

{% block body %}
    <div class="container">
        <h1>Trails index</h1>
        <div id="map"></div>

    </div>
    <script src="{{ asset('js/map.js') }}"></script>
    <script src="{{ asset('js/menu-map.js') }}"></script>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
            integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
            crossorigin=""></script>
{% endblock %}
